@charset "UTF-8";
/* line 1, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
body {
  font-family: 'TT Lakes';
  box-sizing: border-box;
}

/* line 11, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 16, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.main-btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FF3E79;
  border: none;
}

/* line 24, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.main-btn_1:before {
  content: url("../icons/menu-icons/icon_1.svg");
  width: 20px;
}

/* line 31, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.main-btn_2:before {
  content: url("../icons/menu-icons/icon_2.svg");
  width: 20px;
}

/* line 38, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.main-btn_3:before {
  content: url("../icons/menu-icons/icon_3.svg");
  width: 20px;
}

/* line 45, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.main-btn_con:before {
  content: url("../icons/menu-icons/icon_con.svg");
  width: 20px;
}

/* line 52, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.main-btn_personal:before {
  content: url("../icons/menu-icons/icon_personal.svg");
  width: 20px;
}

/* line 59, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.main-btn_sms:before {
  content: url("../icons/menu-icons/icon_personal.svg");
  width: 20px;
}

/* line 66, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head {
  padding: 18.5px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 72, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head__wrapper-table {
  display: none;
}

/* line 76, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head__logo {
  position: relative;
}

/* line 79, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head__logo::after {
  content: '';
  position: absolute;
  right: -12px;
  top: 12px;
  width: 2px;
  height: 32px;
  background-color: #efefef;
  border-radius: 1px;
}

/* line 90, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head__elem {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FF3E79;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 101, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo {
  min-height: 500px;
  padding: 24px 0 35px 0;
  background-color: #f8f8f8;
}

/* line 106, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__reviews, .promo__item-wrapper {
  display: none;
}

/* line 110, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__title {
  font-size: 28px;
  font-weight: 700;
  margin-left: 16px;
  position: relative;
}

/* line 115, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__title::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 129, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__menu {
  overflow: scroll;
}

/* line 133, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

/* line 140, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__link {
  font-size: 16px;
  font-weight: 500;
  color: #7E7E82;
  text-decoration: none;
  display: block;
  width: 230px;
  height: 40px;
  margin-right: 20px;
}

/* line 149, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__link:focus {
  outline: none;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #fff;
}

/* line 157, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__description {
  margin: 24px 16px 16px 0;
  font-size: 14px;
  font-weight: 400;
}

/* line 162, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__show-tablet, .promo__show-laptop {
  display: none;
}

/* line 164, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__read-more {
  margin-left: 32px;
  font-size: 16;
  font-weight: 500;
  position: relative;
}

/* line 169, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__read-more::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 5px;
  width: 8px;
  height: 11px;
  background: url("../icons/read-more/icon.svg") center center/cover no-repeat;
}

/* line 180, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 750px) {
  /* line 2, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .container {
    width: 720px;
  }
  /* line 7, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__wrapper-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
    width: 150px;
    position: relative;
  }
  /* line 15, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__wrapper-table::after {
    content: '';
    position: absolute;
    right: -15px;
    width: 2px;
    height: 32px;
    background-color: #efefef;
    border-radius: 1px;
  }
  /* line 26, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__logo {
    position: relative;
  }
  /* line 29, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__logo::after {
    content: '';
    display: none;
  }
  /* line 34, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__logo::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 12px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #efefef;
  }
  /* line 50, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__reviews, .promo__item-wrapper {
    display: none;
  }
  /* line 54, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__description {
    display: inline-block;
    width: 310px;
  }
  /* line 59, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__show-tablet {
    display: block;
    margin-bottom: 10px;
  }
  /* line 64, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__img {
    display: inline-block;
    width: 360px;
    vertical-align: top;
    margin: 24px 0 0 10px;
  }
}

@media (min-width: 1200px) {
  /* line 74, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .container {
    width: 1140px;
  }
  /* line 77, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head {
    display: none;
  }
  /* line 83, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__item-wrapper {
    display: flex;
  }
  /* line 87, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__head-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* line 93, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__item {
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* line 100, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__info {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
  }
  /* line 105, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  /* line 116, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__reviews {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #7E7E82;
    margin: 0 0 20px 32px;
  }
  /* line 123, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__description {
    width: 490px;
  }
  /* line 127, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__show-tablet {
    display: inline-block;
    margin-bottom: 10px;
  }
  /* line 132, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__show-laptop {
    display: inline;
  }
  /* line 136, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__img {
    width: 530px;
    height: 310px;
    margin-left: 35px;
  }
}

/*# sourceMappingURL=style.css.map */