@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakesDemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakesCondensed-DemiBold'),
        url('../fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-DemiBold.woff') format('woff'),
        url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-ExtraBold.eot');
    src: local('TT Lakes ExtraBold'), local('TTLakesCompressed-ExtraBold'),
        url('../fonts/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-ExtraBold.woff') format('woff'),
        url('../fonts/TTLakes-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Black.eot');
    src: local('TT Lakes Black'), local('TTLakesCondensed-Black'),
        url('../fonts/TTLakes-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Black.woff') format('woff'),
        url('../fonts/TTLakes-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}