@charset "UTF-8";
/* line 1, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-button.scss */
.main-btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FF3E79;
  border: none;
}

/* line 9, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-button.scss */
.main-btn_1:before {
  content: url("../icons/menu-icons/icon_1.svg");
  width: 20px;
}

/* line 16, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-button.scss */
.main-btn_2:before {
  content: url("../icons/menu-icons/icon_2.svg");
  width: 20px;
}

/* line 23, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-button.scss */
.main-btn_3:before {
  content: url("../icons/menu-icons/icon_3.svg");
  width: 20px;
}

/* line 30, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-button.scss */
.main-btn_con:before {
  content: url("../icons/menu-icons/icon_con.svg");
  width: 20px;
}

/* line 37, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-button.scss */
.main-btn_personal:before {
  content: url("../icons/menu-icons/icon_personal.svg");
  width: 20px;
}

/* line 44, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-button.scss */
.main-btn_sms:before {
  content: url("../icons/menu-icons/icon_personal.svg");
  width: 20px;
}

/* line 1, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-menu.scss */
.menu {
  overflow: scroll;
}

/* line 4, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-menu.scss */
.menu__list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

/* line 11, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-menu.scss */
.menu__link {
  font-weight: 500;
  font-size: 16px;
  color: #7E7E82;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 40px;
  margin-right: 20px;
}

/* line 23, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_block-menu.scss */
.menu__link:focus {
  outline: none;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #fff;
}

/* line 1, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
body {
  font-family: 'TT Lakes';
  box-sizing: border-box;
}

/* line 6, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.container {
  width: auto;
  margin: 0 auto;
}

/* line 11, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head {
  padding: 18.5px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 17, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head__wrapper-table {
  display: none;
}

/* line 21, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head__logo {
  position: relative;
}

/* line 24, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head__logo::after {
  content: '';
  position: absolute;
  right: -12px;
  top: 12px;
  width: 2px;
  height: 32px;
  background-color: #efefef;
  border-radius: 1px;
}

/* line 35, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.head__elem {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FF3E79;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 46, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo {
  min-height: 500px;
  padding: 24px 0 35px 0;
  background-color: #f8f8f8;
}

/* line 51, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__reviews, .promo__item-wrapper {
  display: none;
}

/* line 55, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__title {
  font-weight: 700;
  font-size: 28px;
  margin-left: 16px;
  position: relative;
}

/* line 61, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__title::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 75, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__description {
  margin: 24px 16px 16px 0;
  font-weight: 400;
  font-size: 14px;
}

/* line 81, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__show-tablet, .promo__show-laptop {
  display: none;
}

/* line 83, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__read-more {
  margin-left: 32px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}

/* line 89, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__read-more::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 5px;
  width: 8px;
  height: 11px;
  background: url("../icons/read-more/icon.svg") center center/cover no-repeat;
}

/* line 100, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_general.scss */
.promo__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 750px) {
  /* line 2, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .container {
    width: 720px;
  }
  /* line 7, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__wrapper-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
    width: 150px;
    position: relative;
  }
  /* line 15, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__wrapper-table::after {
    content: '';
    position: absolute;
    right: -15px;
    width: 2px;
    height: 32px;
    background-color: #efefef;
    border-radius: 1px;
  }
  /* line 26, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__logo {
    position: relative;
  }
  /* line 29, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__logo::after {
    content: '';
    display: none;
  }
  /* line 34, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head__logo::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 12px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #efefef;
  }
  /* line 50, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__reviews, .promo__item-wrapper {
    display: none;
  }
  /* line 54, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__description {
    display: inline-block;
    width: 310px;
  }
  /* line 59, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__show-tablet {
    display: block;
    margin-bottom: 10px;
  }
  /* line 64, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__img {
    display: inline-block;
    width: 360px;
    vertical-align: top;
    margin: 24px 0 0 10px;
  }
}

@media (min-width: 1200px) {
  /* line 74, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .container {
    width: 1140px;
  }
  /* line 77, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .head {
    display: none;
  }
  /* line 83, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__item-wrapper {
    display: flex;
  }
  /* line 87, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__head-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* line 93, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__item {
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* line 100, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__info {
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
  }
  /* line 106, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  /* line 117, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__reviews {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #7E7E82;
    margin: 0 0 20px 32px;
  }
  /* line 125, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__description {
    width: 490px;
  }
  /* line 129, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__show-tablet {
    display: inline-block;
    margin-bottom: 10px;
  }
  /* line 134, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__show-laptop {
    display: inline;
  }
  /* line 138, ../../../OneDrive/Рабочий стол/CPS-services/src/scss/_media.scss */
  .promo__img {
    width: 530px;
    height: 310px;
    margin-left: 35px;
  }
}

/*# sourceMappingURL=style.css.map */