.menu {
    overflow: scroll;
    overflow-y: hidden;
    height: 80px;

    &__list {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
    }
    
    &__link {
        font-weight: 500;
        font-size: 16px;
        color: #7E7E82;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 40px;
        margin-right: 20px;
        transition: 0.5s all;
    
        &:focus {
            outline: none;
            border: 2px solid #B8FFEC;
            border-radius: 6px;
            background-color: #fff;
        }
    }
}