body {
    font-family: 'TT Lakes';
    box-sizing: border-box;
}

.container {
    width: auto;
    margin: 0 auto;
}

.head {
    padding: 18.5px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__wrapper-table {
        display: none;
    }

    &__logo {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: -12px;
            top: 12px;
            width: 2px;
            height: 32px;
            background-color: #efefef;
            border-radius: 1px;
        }
    }
    &__elem {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #FF3E79;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.promo {
    min-height: 500px;
    padding: 24px 0 35px 0;
    background-color: #f8f8f8;

    &__reviews, &__item-wrapper {
        display: none;
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        margin-left: 16px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: -16px;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 40px;
            background-color: #41F6D7;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    &__description {
        margin: 24px 16px 16px 0;
        font-weight: 400;
        font-size: 14px;
    }

    &__show-tablet, &__show-laptop {display: none;}

    &__read-more {
        margin-left: 32px;
        font-weight: 500;
        font-size: 16px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: -16px;
            top: 5px;
            width: 8px;
            height: 11px;
            background: url('../icons/read-more/icon.svg') center center / cover no-repeat;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}