body {
    font-family: 'TT Lakes';
    box-sizing: border-box;
}

@mixin fonts-size($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;
}

.container {
    width: auto;
    margin: 0 auto;
}

.main-btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    border: none;

    &_1 {
        &:before {
            content: url('../icons/menu-icons/icon_1.svg');
            width: 20px;
          }
    }
    
    &_2 {
        &:before {
            content: url('../icons/menu-icons/icon_2.svg');
            width: 20px;
          }
    }

    &_3 {
        &:before {
            content: url('../icons/menu-icons/icon_3.svg');
            width: 20px;
          }
    }

    &_con {
        &:before {
            content: url('../icons/menu-icons/icon_con.svg');
            width: 20px;
          }
    }

    &_personal {
        &:before {
            content: url('../icons/menu-icons/icon_personal.svg');
            width: 20px;
          }
    }

    &_sms {
        &:before {
            content: url('../icons/menu-icons/icon_personal.svg');
            width: 20px;
          }
    }
}

.head {
    padding: 18.5px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__wrapper-table {
        display: none;
    }

    &__logo {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: -12px;
            top: 12px;
            width: 2px;
            height: 32px;
            background-color: #efefef;
            border-radius: 1px;
        }
    }
    &__elem {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #FF3E79;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.promo {
    min-height: 500px;
    padding: 24px 0 35px 0;
    background-color: #f8f8f8;

    &__reviews, &__item-wrapper {
        display: none;
    }

    &__title {
        @include fonts-size(28px, 700);
        margin-left: 16px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: -16px;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 40px;
            background-color: #41F6D7;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    &__menu {
        overflow: scroll;
    }

    &__list {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
    }

    &__link {
        @include fonts-size(16px, 500);
        color: #7E7E82;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 40px;
        margin-right: 20px;

        &:focus {
            outline: none;
            border: 2px solid #B8FFEC;
            border-radius: 6px;
            background-color: #fff;
        }
    }

    &__description {
        margin: 24px 16px 16px 0;
        @include fonts-size(14px, 400);
    }

    &__show-tablet, &__show-laptop {display: none;}

    &__read-more {
        margin-left: 32px;
        @include fonts-size(16, 500);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: -16px;
            top: 5px;
            width: 8px;
            height: 11px;
            background: url('../icons/read-more/icon.svg') center center / cover no-repeat;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}